<html>
    <body>
        <div>Kindly click here to change password.The link will expire in 1 hour.
        <a href="{{ absolute_url(path('reset_password',
        {'forgotPassId':forgotPassId}))
        }}">Reset Password</a>
        </div>
    </body>
</html>
